@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
}

<section class="projects-navigation">
    <div class="wrapper bg-gray">
        <img class="background-image" src="Images/AboutImage.svg">
        <div class="container">
            <div class="grid-item">
                <h2>Our Projects</h2>
            </div>
            <div class="grid-item breadcrumbs">
                <a href="/home.html"><h5>Home</h5></a>
                <div class="separator">></div>
                <a href="/about.html"><h5>Projects</h5></a>
            </div>
        </div>
    </div>
  </section>


  <section class="our-projects-section">
    <div class="container">
      <!-- Articles section -->
      <div class="articles">
        <div class="article">
          <div class="image">
            <img src="Images/ProjectImage1.svg" alt="Annual Report">
          </div>
          <div class="content">
            <h4>Annual Report for Juva Inc.</h4>
            <p><span class="date">June 15, 2024</span></p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.</p>
            <a href="#">Read more →</a>
          </div>
        </div>
        <div class="article">
          <div class="image">
            <img src="Images/ProjectImage2.svg" alt="Annual Report">
          </div>
          <div class="content">
            <h4>Business Insights for SP Group...</h4>
            <p><span class="date">June 15, 2024</span></p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.</p>
            <a href="#">Read more →</a>
          </div>
        </div>
        <div class="article">
          <div class="image">
            <img src="Images/ProjectImage3.svg" alt="Annual Report">
          </div>
          <div class="content">
            <h4>Financial Advisors for Irra Grou...</h4>
            <p><span class="date">June 15, 2024</span></p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.</p>
            <a href="#">Read more →</a>
          </div>
        </div>
        <div class="article">
          <div class="image">
            <img src="Images/ProjectImage4.svg" alt="Annual Report">
          </div>
          <div class="content">
            <h4>Budget Planning for Buccura In...</h4>
            <p><span class="date">June 15, 2024</span></p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.</p>
            <a href="#">Read more →</a>
          </div>
        </div>
      </div>
    
      <aside class="sidebar">
        <div class="tags">
          <h4>Tags</h4>
          <div class="tag-list">
            <span>Report</span>
            <span>Business plans</span>
            <span>Insights</span>
            <span>Business</span>
            <span>App</span>
            <span>Project</span>
            <span>Finance</span>
            <span>Pricing</span>
          </div>
        </div>
    
        <div class="support-form">
          <h4>How can we help you?</h4>
          <p>Online support 24/7, we are here to help you</p>
          <form action="#" method="POST">
            <input type="email" placeholder="Email address" required />
            <a class="btn-primary">Send</a>
          </form>
        </div>
      </aside>
    </div>
  </section>

  <section class="contact-section">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-item">
                <img class="background-image" src="Images/BackgroundImage3.svg">
                <img class="glassesguy" src="Images/GlassesGuyImage.svg" alt="Glasses Guy Image">
            </div>
            <div class="grid-item">
                <h2>Let us know about your next project</h2>
                
                <div class="icon-text">
                    <i class="fa-light fa-location-dot"></i>
                    <h5>Office location</h5>
                </div>
                <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                
                <div class="icon-text">
                    <i class="fa-light fa-phone"></i>
                    <h5>Phone number</h5>
                </div>
                <p>+46 8 123 456 75</p>

                <div class="icon-text">
                    <i class="fa-light fa-envelope"></i>
                    <h5>E-mail address</h5>
                </div>
                <p>sales@onatrix.com</p>
            </div>
        </div>
    </div>
  </section>