@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle")?.ToString() ?? null;
}

<section class="service-navigation">
    <div class="wrapper bg-gray">
        <img class="background-image" src="Images/AboutImage.svg">
        <div class="container">
            <div class="grid-item">
                <h2>Our Services</h2>
            </div>
            <div class="grid-item breadcrumbs">
                <a href="/home.html"><h5>Home</h5></a>
                <div class="separator">></div>
                <a href="/services.html"><h5>Services</h5></a>
            </div>
        </div>
    </div>
</section>

<section class="service-section bg-gray">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-item">
                <h3>Our Services</h3>
                <h2>We Provide The Solutions To Grow Your Business Faster</h2>
            </div>
            <div class="grid-item bg-light">
                <h4>Risk Management</h4>
                <img src="Images/RiskManagementImage.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt deleniti accusantium odio sint aliquam atque!</p>
            </div>
            <div class="grid-item bg-light">
                <h4>Bonds & Commodities</h4>
                <img src="Images/BondsImage.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt deleniti accusantium odio sint aliquam atque!</p>
            </div>
            <div class="grid-item bg-light">
                <h4>Assurance & Audits</h4>
                <img src="Images/AssuranceImage.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt deleniti accusantium odio sint aliquam atque!</p>
            </div>
            <div class="grid-item bg-light">
                <h4>Tax and Trusts</h4>
                <img src="Images/TaxImage.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt deleniti accusantium odio sint aliquam atque!</p>
            </div>
            <div class="grid-item bg-light">
                <h4>Financial Advisor</h4>
                <img src="Images/FinancialImage.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt deleniti accusantium odio sint aliquam atque!</p>
            </div>
            <div class="grid-item bg-light">
                <h4>Statistic Advisors</h4>
                <img src="Images/StatisticImage.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt deleniti accusantium odio sint aliquam atque!</p>
            </div>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-item">
                <img class="background-image" src="Images/BackgroundImage3.svg">
                <img class="glassesguy" src="Images/GlassesGuyImage.svg" alt="Glasses Guy Image">
            </div>
            <div class="grid-item">
                <h2>Let us know about your next project</h2>
                
                <div class="icon-text">
                    <i class="fa-light fa-location-dot"></i>
                    <h5>Office location</h5>
                </div>
                <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                
                <div class="icon-text">
                    <i class="fa-light fa-phone"></i>
                    <h5>Phone number</h5>
                </div>
                <p>+46 8 123 456 75</p>

                <div class="icon-text">
                    <i class="fa-light fa-envelope"></i>
                    <h5>E-mail address</h5>
                </div>
                <p>sales@onatrix.com</p>
            </div>
        </div>
    </div>
</section>