@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.container, .container-fuild {
  position: relative;
  width: 70%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro";
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
  margin-left: 0.4em;
  margin-top: -0.9em;
}
a.no-icon[target=_blank]::after {
  content: none;
}

.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover, .btn-primary:hover, .btn-secondary:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-hightlight-color: rgba(0, 0, 0, 0);
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

p {
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.top-bar .wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center; /* Centers the entire content in the middle of the Y-axis */
}
.top-bar .wrapper .container {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr;
}
.top-bar .wrapper .container .grid-item {
  display: flex;
  align-items: center; /* Vertically centers the content inside each grid-item */
  gap: 30px;
  justify-content: center;
}
.top-bar .wrapper .container .grid-item:nth-child(1) {
  justify-content: flex-start; /* Left-align the first item */
}
.top-bar .wrapper .container .grid-item:nth-child(2) {
  justify-content: flex-end; /* Right-align the second item */
}

.header .wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(71, 71, 71, 0.3); /* Add this line for shadow */
}
.header .wrapper .container {
  display: grid;
  width: 70%;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
}
.header .wrapper .container .grid-item {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.header .wrapper .container .grid-item:nth-child(6) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .wrapper .container .logo img {
  max-width: 100%;
  height: auto;
}
.header .wrapper .container .grid-item:nth-child(6) .search-icon {
  font-size: 20px;
  cursor: pointer;
}

.hero-section {
  z-index: 0;
}
.hero-section .wrapper .background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.hero-section .wrapper .container {
  padding-top: 80px;
  padding-bottom: 50px;
}
.hero-section .wrapper .container .hero-content {
  width: 50%;
}
.hero-section .wrapper .container .hero-content p {
  padding-bottom: 3em;
}

.about-section .wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 100px;
}
.about-section .wrapper .grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 70%;
}
.about-section .wrapper .grid-container .content-column {
  margin-top: 100px;
}
.about-section .wrapper .grid-container .content-column .quote {
  font-style: italic;
}
.about-section .wrapper .grid-container .form-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(71, 71, 71, 0.3);
}
.about-section .wrapper .grid-container .form-column .form-header {
  display: flex;
  padding: 15px;
  padding-top: 25px;
  margin-top: -30%;
}
.about-section .wrapper .grid-container .form-column form .form-row {
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}
.about-section .wrapper .grid-container .form-column form .form-row input, .about-section .wrapper .grid-container .form-column form .form-row select {
  padding: 8px;
  font-size: 1rem;
}
.about-section .wrapper .grid-container .form-column .btn-accent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92%;
  margin: 0 auto;
  margin-top: 20px;
}

.service-section .wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.service-section .wrapper .grid-container {
  width: 65%;
  display: grid;
  grid-template: auto auto/repeat(3, 1fr);
  grid-gap: 30px;
}
.service-section .wrapper .grid-container .grid-item {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.service-section .wrapper .grid-container .grid-item img {
  width: 100%;
}
.service-section .wrapper .grid-container .grid-item:nth-child(1) {
  grid-column: span 3;
}

.client-section {
  z-index: 0;
}
.client-section .wrapper {
  padding-top: 100px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.client-section .wrapper .container {
  text-align: center;
  width: 70%;
}
.client-section .wrapper .container .btn-primary {
  margin-bottom: 100px;
}
.client-section .wrapper .container .img {
  width: 100%;
}

.story-section {
  z-index: 0;
}
.story-section .wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.story-section .wrapper .background-image {
  position: absolute;
  z-index: 1;
  width: 50%;
}
.story-section .wrapper .grid-container {
  width: 65%;
  display: grid;
  grid-template: auto auto/repeat(3, 1fr);
}
.story-section .wrapper .grid-container .grid-item {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.story-section .wrapper .grid-container .grid-item h3 {
  font-size: 90px;
}
.story-section .wrapper .grid-container .grid-item:nth-child(1) {
  grid-column: span 3;
}
.story-section .wrapper .grid-container .grid-item:nth-child(5) {
  grid-column: span 3;
  position: relative;
}
.story-section .wrapper .grid-container .grid-item:nth-child(5) .video-image {
  margin-bottom: -15%;
}

.project-section .wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 250px;
}
.project-section .wrapper .grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.project-section .wrapper .grid-container .grid-item:first-child {
  grid-column: span 4;
  text-align: start;
  padding-left: 400px;
}
.project-section .wrapper .grid-container .grid-item {
  font-size: 30px;
  text-align: center;
}
.project-section .wrapper .grid-container .grid-item .background-image {
  width: 100%;
}

.logo-section .wrapper {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo-section .wrapper .container {
  padding: 75px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.footer-section .wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-section .wrapper .container {
  padding: 20px;
}

.about-navigation {
  z-index: -1;
}
.about-navigation .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 70px;
}
.about-navigation .wrapper .background-image {
  position: absolute;
  z-index: 0;
  width: 100%;
}
.about-navigation .wrapper .container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 70%;
  text-align: center;
}
.about-navigation .wrapper .container .grid-item {
  margin-bottom: -20px;
}
.about-navigation .wrapper .container .breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-navigation .wrapper .container .breadcrumbs a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
.about-navigation .wrapper .container .breadcrumbs div.separator {
  color: black;
  margin-bottom: 5px;
}

.ceo-section .wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.ceo-section .wrapper .grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 40px;
  width: 70%;
}
.ceo-section .wrapper .grid-container .grid-item p {
  line-height: 3;
}
.ceo-section .wrapper .grid-container .grid-item img {
  margin-bottom: 10px;
}

.review-section .wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.review-section .wrapper .grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}
.review-section .wrapper .grid-container .grid-item:first-child {
  margin-left: 280px;
}
.review-section .wrapper .grid-container .grid-item:first-child h6 {
  padding-top: 80px;
}
.review-section .wrapper .grid-container .grid-item:first-child h2 {
  width: 60%;
}
.review-section .wrapper .grid-container .grid-item:first-child p {
  width: 70%;
}
.review-section .wrapper .grid-container .grid-item:first-child img {
  margin-bottom: 20px;
}
.review-section .wrapper .grid-container .grid-item:first-child h5 {
  margin-top: -10px;
}
.contact-section .wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}
.contact-section .wrapper .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  width: 70%;
}
.contact-section .wrapper .grid-container .grid-item {
  position: relative;
}
.contact-section .wrapper .grid-container .grid-item .background-image {
  z-index: 0;
  position: absolute;
  top: 41px;
}
.contact-section .wrapper .grid-container .grid-item .glassesguy {
  z-index: 1;
  position: relative;
}
.contact-section .wrapper .grid-container .grid-item h2 {
  margin-top: 125px;
}
.contact-section .wrapper .grid-container .grid-item .icon-text {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.contact-section .wrapper .grid-container .grid-item .icon-text h5 {
  margin: 0;
}
.contact-section .wrapper .grid-container .grid-item .icon-text i {
  color: #D9C3A9;
}
.contact-section .wrapper .grid-container .grid-item:nth-child(2) {
  width: 70%;
}

.service-navigation {
  z-index: -1;
}
.service-navigation .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 70px;
}
.service-navigation .wrapper .background-image {
  position: absolute;
  z-index: 0;
  width: 100%;
}
.service-navigation .wrapper .container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 70%;
  text-align: center;
}
.service-navigation .wrapper .container .grid-item {
  margin-bottom: -20px;
}
.service-navigation .wrapper .container .breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-navigation .wrapper .container .breadcrumbs a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
.service-navigation .wrapper .container .breadcrumbs div.separator {
  color: black;
  margin-bottom: 5px;
}

.contact-navigation {
  z-index: -1;
}
.contact-navigation .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 70px;
}
.contact-navigation .wrapper .background-image {
  position: absolute;
  z-index: 0;
  width: 100%;
}
.contact-navigation .wrapper .container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 70%;
  text-align: center;
}
.contact-navigation .wrapper .container .grid-item {
  margin-bottom: -20px;
}
.contact-navigation .wrapper .container .breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-navigation .wrapper .container .breadcrumbs a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
.contact-navigation .wrapper .container .breadcrumbs div.separator {
  color: black;
  margin-bottom: 5px;
}

.team-section {
  padding-top: 100px;
}
.team-section .wrapper {
  width: 100%;
}
.team-section .wrapper .container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.team-section .wrapper .container h6 {
  text-align: center;
}
.team-section .wrapper .container h2 {
  text-align: center;
  margin-top: -20px;
}
.team-section .wrapper .container .flex-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.team-section .wrapper .container .flex-container-3 .card {
  flex: 1;
  max-width: 400px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.team-section .wrapper .container .flex-container-3 .card img {
  width: 100%;
  height: auto;
}
.team-section .wrapper .container .flex-container-3 .card h5 {
  margin-top: 15px;
  margin-left: 15px;
}
.team-section .wrapper .container .flex-container-3 .card p {
  margin-left: 15px;
  margin-top: -5px;
}
.team-section .wrapper .container .flex-container-4 {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.team-section .wrapper .container .flex-container-4 .card {
  flex: 1;
  max-width: 400px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.team-section .wrapper .container .flex-container-4 .card img {
  width: 100%;
  height: auto;
}
.team-section .wrapper .container .flex-container-4 .card h5 {
  margin-top: 15px;
  margin-left: 15px;
}
.team-section .wrapper .container .flex-container-4 .card p {
  margin-left: 15px;
  margin-top: -5px;
}

.our-projects-section {
  padding-top: 50px;
  padding-bottom: 100px;
}
.our-projects-section .container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  width: 70%;
}
.our-projects-section .container .articles .article {
  display: flex;
  margin-bottom: 20px;
  border-top: 1px solid #ECECEC;
  padding-top: 20px;
}
.our-projects-section .container .articles .article .image {
  flex: 1;
}
.our-projects-section .container .articles .article .image img {
  width: 100%;
  margin-top: 10px;
}
.our-projects-section .container .articles .article .content {
  flex: 2;
  padding-left: 20px;
}
.our-projects-section .container .articles .article .content .date {
  color: #9C9EA6;
}
.our-projects-section .container .articles .article .content p {
  margin-top: -5px;
  width: 75%;
}
.our-projects-section .container .articles .article .content a {
  margin-bottom: 20px;
}
.our-projects-section .container .sidebar {
  border-left: 1px solid #ECECEC;
  padding-left: 10px;
}
.our-projects-section .container .sidebar .tags h4 {
  margin-bottom: 10px;
}
.our-projects-section .container .sidebar .tags .tag-list span {
  background: #f0f0f0;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 15px;
}
.our-projects-section .container .sidebar .support-form {
  margin-top: 50px;
}
.our-projects-section .container .sidebar .support-form h4 {
  margin-bottom: 10px;
}
.our-projects-section .container .sidebar .support-form form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.our-projects-section .container .sidebar .support-form form .btn-primary {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.projects-navigation {
  z-index: -1;
}
.projects-navigation .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 70px;
}
.projects-navigation .wrapper .background-image {
  position: absolute;
  z-index: 0;
  width: 100%;
}
.projects-navigation .wrapper .container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 70%;
  text-align: center;
}
.projects-navigation .wrapper .container .grid-item {
  margin-bottom: -20px;
}
.projects-navigation .wrapper .container .breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-navigation .wrapper .container .breadcrumbs a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
.projects-navigation .wrapper .container .breadcrumbs div.separator {
  color: black;
  margin-bottom: 5px;
}
