.footer-section {

    .wrapper {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 100%;

        .container {
            padding: 20px;
        }
    }
}