.our-projects-section {
  padding-top: 50px;
  padding-bottom: 100px;
}
.our-projects-section .container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  width: 70%;
}
.our-projects-section .container .articles .article {
  display: flex;
  margin-bottom: 20px;
  border-top: 1px solid #ECECEC;
  padding-top: 20px;
}
.our-projects-section .container .articles .article .image {
  flex: 1;
}
.our-projects-section .container .articles .article .image img {
  width: 100%;
  margin-top: 10px;
}
.our-projects-section .container .articles .article .content {
  flex: 2;
  padding-left: 20px;
}
.our-projects-section .container .articles .article .content .date {
  color: #9C9EA6;
}
.our-projects-section .container .articles .article .content p {
  margin-top: -5px;
  width: 75%;
}
.our-projects-section .container .articles .article .content a {
  margin-bottom: 20px;
}
.our-projects-section .container .sidebar {
  border-left: 1px solid #ECECEC;
  padding-left: 10px;
}
.our-projects-section .container .sidebar .tags h4 {
  margin-bottom: 10px;
}
.our-projects-section .container .sidebar .tags .tag-list span {
  background: #f0f0f0;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 15px;
}
.our-projects-section .container .sidebar .support-form {
  margin-top: 50px;
}
.our-projects-section .container .sidebar .support-form h4 {
  margin-bottom: 10px;
}
.our-projects-section .container .sidebar .support-form form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.our-projects-section .container .sidebar .support-form form .btn-primary {
  width: 100%;
  justify-content: center;
  text-align: center;
}
