.projects-navigation {
  z-index: -1;
}
.projects-navigation .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 70px;
}
.projects-navigation .wrapper .background-image {
  position: absolute;
  z-index: 0;
  width: 100%;
}
.projects-navigation .wrapper .container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 70%;
  text-align: center;
}
.projects-navigation .wrapper .container .grid-item {
  margin-bottom: -20px;
}
.projects-navigation .wrapper .container .breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-navigation .wrapper .container .breadcrumbs a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
.projects-navigation .wrapper .container .breadcrumbs div.separator {
  color: black;
  margin-bottom: 5px;
}
